<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr class="danger">
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>State</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.email %></td>
        <td><%= patient.phone_number %></td>
        <td><%= patient.state %></td>
        <td><%= patient.doctor.first_name %>
         <%= patient.doctor.last_name %></td>
        <td><%= link_to 'Show', patient, class:"btn btn-default"  %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient), class:"btn btn-default"  %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' },  class:"btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path , class:"btn btn-default" %>
<br>
<br>
<%= link_to 'doctors', doctors_path, class:"btn btn-default"  %>
